

<%-include('../partials/header')-%>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">My Account<span> </span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">Shop</a></li> -->
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-dashboard-link" href="/profile" role="tab" aria-controls="tab-dashboard" aria-selected="false">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" href="/orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" href="/addresses" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" href="/editProfile" role="tab" aria-controls="tab-account" aria-selected="false">Edit Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-account-link" href="/changePassword" role="tab" aria-controls="tab-account" aria-selected="true">Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Sign Out</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-password-edit" role="tabpanel" aria-labelledby="tab-account-link">
                                    <form action="/changePassword" method="POST" onsubmit="return validate()">
                                        <div class="form-group">
                                            <label>Current password (leave blank to leave unchanged) <span style="color: red;">*</span></label>
                                            <input type="password" id="cpassword" name="currentpassword" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label>New password (leave blank to leave unchanged) <span style="color: red;">*</span></label>
                                            <input type="password" id="password" name="password" class="form-control">
                                            <label style="display: none;" id="password-error"></label>
                                        </div>

                                        <div class="form-group">
                                            <label>Confirm new password <span style="color: red;">*</span></label>
                                            <input type="password" id="conpassword" class="form-control mb-2">
                                            <label style="display: none;" id="confirm-password-error"></label>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SAVE CHANGES</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div><!-- .End .tab-pane -->
                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
    
    <%-include('../partials/footer')-%>

    <script>
        function checkPassword() {
            let password = document.getElementById("password").value;
            let confirmPassword = document.getElementById("conpassword").value;
            let message = document.getElementById("confirm-password-error");
            if (password.length !== 0) {
                if (password === confirmPassword) {
                    return true; // Allow form submission
                } else {
                    message.style.display = ''
                    message.textContent = "Passwords don't match";
                    message.style.color = "#ff4d4d";
                    return false; // Prevent form submission
                }
            } else {
                message.textContent = "Password can't be empty!";
                message.style.color = "#ff4d4d";
                return false; // Prevent form submission
            }
        }
        function validate() {
            var password = document.getElementById("password").value;
            let passwordError = document.getElementById("password-error");
    
            if (password.length < 6) {
                passwordError.style.display = ''
                passwordError.textContent = "Password should be at least 6 characters!";
                passwordError.style.color = "#ff4d4d";
                return false;
            } else passwordError.style.display = 'none'
            return checkPassword();
            return true;
        }
    </script>