<%-include('../partials/header')-%>


<main class="main">
            

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">OTP VERIFICATION</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                            <form action="/otpverify" method="POST">
                                <div class="form-group">
                                    <label for="otp">Enter OTP <span style="color: red;">*</span></label>
                                    <input type="text" class="form-control text-center" id="otp" name="otp" maxlength="4" required>
                                </div><!-- End .form-group -->

                                <input type="hidden" value="<%=otpEmail%>" id="email" name="email">

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>VERIFY OTP</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                    <div id="otp-timer">00:00</div>
                                    <div style="display: none;" id="resent"><p onclick="handleResentOtp()">Resent OTP</p></div>
                                    <!-- Don't Have Account? &nbsp;<a href="/signup" class="">SignUp</a> -->											
                                </div><!-- End .form-footer -->
                            </form>							    	
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->



<%-include('../partials/footer')-%>

<script>
   function startOTPTimer(duration) {
      const otpTimerElement = document.getElementById("otp-timer");
      const resentElement = document.getElementById("resent");

      let timer = duration;
      let minutes, seconds;

      const intervalId = setInterval(() => {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        otpTimerElement.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
          clearInterval(intervalId);
          otpTimerElement.textContent = "Expired";
          document.getElementById('otp-timer').style.display= "none"
        //   otpTimerElement.style.display = "none";
            resentElement.style.display = "block";
        }
      }, 1000);
    }

    // Usage example
    const otpDuration = 20; // OTP duration in seconds
    startOTPTimer(otpDuration);



    async function handleResentOtp(){
        try {
           let email = document.getElementById('email').value;
           document.getElementById('resent').style.display = 'none';
        document.getElementById('otp-timer').style.display = "block"
           if(email){
           
            $.ajax({         
                url:"/otprequest",
                method:"post",
                data:{
                    email
                },
                success:async(response)=>{
                    startOTPTimer(otpDuration);
                }
            })
           }else{
            window.location.href = "/signuppage"
           }  
        } catch (error) {
            console.log(error); 
            
        }
    }
</script>
